USE [master]
GO
/****** Object:  Database [userdb]    Script Date: 5/7/2019 2:24:07 PM ******/
CREATE DATABASE [userdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USERDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\userdb.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'USERDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\userdb_log.ldf' , SIZE = 2112KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [userdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [userdb]
GO
/****** Object:  Table [dbo].[APPLICATION]    Script Date: 5/7/2019 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APP_NAME] [nvarchar](100) NULL,
	[APP_DESCIPTION] [nvarchar](100) NULL,
	[APP_STATUS] [int] NULL,
	[APP_LOGO_URL] [varchar](100) NULL,
	[APP_URL] [varchar](100) NULL,
	[IS_DELETED] [int] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_APPLICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 5/7/2019 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NULL,
	[ROLE_DESCRIPTION] [nvarchar](50) NULL,
	[ROLE_STATUS] [int] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_BY] [int] NULL,
	[CTEATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[IS_DELETED] [int] NULL,
	[APP_ID] [int] NOT NULL,
 CONSTRAINT [constraint_name] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 5/7/2019 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOGIN_ID] [nvarchar](50) NULL,
	[USER_NAME] [nvarchar](50) NULL,
	[COMPANY_ADDRESS] [nvarchar](100) NULL,
	[COMPANY_NAME] [nvarchar](50) NULL,
	[IS_Customer_EMP_ID] [smallint] NULL,
	[Customer_EMP_ID] [int] NULL,
	[USER_DESIGNATION] [nvarchar](50) NULL,
	[USER_PASSWORD] [nvarchar](100) NULL,
	[USER_PASSWORD_FORMAT] [int] NULL,
	[USER_PASSWORD_SALT] [nvarchar](100) NULL,
	[USER_CONTACT] [nvarchar](50) NULL,
	[USER_EMAIL] [nvarchar](50) NULL,
	[PASSWORD_QUESTION] [nvarchar](50) NULL,
	[PASSWORD_ANSWER] [nvarchar](50) NULL,
	[IS_APPROVED] [varchar](2) NULL,
	[IS_LOCKED] [varchar](2) NULL,
	[AUTH_OTP_STATUS] [int] NULL,
	[LAST_LOGIN_TIME] [datetime] NULL,
	[LAST_PASS_CHANGE_DATE] [datetime] NULL,
	[LAST_LOCKED_DATE] [datetime] NULL,
	[PASS_ATTEMPT_COUNT] [int] NULL,
	[IS_PASS_EXPIRED] [int] NULL,
	[PASS_EXPIRED_DATE] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_BY] [int] NULL,
	[CRETATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[IS_DELETED] [int] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_PERMISSION]    Script Date: 5/7/2019 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_PERMISSION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[MENU_ID] [bigint] NOT NULL,
	[IS_INSERT] [int] NULL,
	[IS_UPDATE] [int] NULL,
	[IS_DELETE] [int] NULL,
	[IS_VIEW] [int] NULL,
	[IS_PRINT] [int] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[IS_DELETED] [int] NULL,
 CONSTRAINT [PK_ROLE_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 5/7/2019 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[WITH_GRANT] [varchar](50) NULL,
	[CREATED_BY] [int] NULL,
	[UPDATE_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[IS_DELETED] [int] NULL,
 CONSTRAINT [PK_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 5/7/2019 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MENU_TITLE] [varchar](50) NOT NULL,
	[MENU_DESCRIPTION] [varchar](50) NULL,
	[MENU_PARENT_ID] [bigint] NULL,
	[MENU_URL] [varchar](100) NULL,
	[MENU_IMG_URL] [varchar](100) NULL,
	[MENU_ORDINAL_POSITION] [int] NULL,
	[MENU_STATUS] [int] NOT NULL,
	[APP_ID] [int] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_BY] [int] NULL,
	[IS_DELETED] [int] NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_USER_ROLES_PERMISSION]    Script Date: 5/7/2019 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_USER_ROLES_PERMISSION]
AS
SELECT        dbo.[USER].ID AS USER_ID, dbo.[USER].LOGIN_ID, dbo.[USER].USER_NAME, dbo.APPLICATION.ID AS App_Id, dbo.APPLICATION.APP_NAME, dbo.MENU.ID AS MENU_ID, dbo.MENU.MENU_TITLE, dbo.MENU.MENU_PARENT_ID, 
                         dbo.MENU.MENU_URL, dbo.MENU.MENU_IMG_URL, dbo.MENU.MENU_ORDINAL_POSITION, dbo.ROLE.ID AS ROLE_ID, dbo.ROLE.ROLE_NAME, dbo.ROLE_PERMISSION.ID AS PERMISSION_ID, 
                         dbo.ROLE_PERMISSION.IS_INSERT, dbo.ROLE_PERMISSION.IS_UPDATE, dbo.ROLE_PERMISSION.IS_DELETE, dbo.ROLE_PERMISSION.IS_VIEW, dbo.ROLE_PERMISSION.IS_PRINT
FROM            dbo.APPLICATION INNER JOIN
                         dbo.MENU ON dbo.APPLICATION.ID = dbo.MENU.APP_ID INNER JOIN
                         dbo.ROLE ON dbo.APPLICATION.ID = dbo.ROLE.APP_ID INNER JOIN
                         dbo.ROLE_PERMISSION ON dbo.MENU.ID = dbo.ROLE_PERMISSION.MENU_ID AND dbo.ROLE.ID = dbo.ROLE_PERMISSION.ROLE_ID INNER JOIN
                         dbo.USER_ROLE ON dbo.ROLE.ID = dbo.USER_ROLE.ROLE_ID INNER JOIN
                         dbo.[USER] ON dbo.USER_ROLE.USER_ID = dbo.[USER].ID
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 5/7/2019 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[SESSION_ID] [varchar](50) NULL,
	[APP_ID] [int] NOT NULL,
	[LOGIN_TIME] [datetime] NULL,
	[LOGOUT_TIME] [datetime] NULL,
	[IS_OFFLINE] [char](2) NULL,
	[IS_FAILED] [varchar](2) NULL,
	[FAILED_REASON] [varchar](50) NULL,
	[IS_DELETED] [int] NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASS_TOKEN]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASS_TOKEN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](50) NULL,
	[User_ID] [bigint] NULL,
	[IS_Email_OTP] [bit] NULL,
	[Remarks] [nvarchar](50) NULL,
	[IS_Active] [bit] NULL,
	[Expire_date] [datetime] NULL,
	[Token_used_date] [datetime] NULL,
	[Created_by] [int] NULL,
	[Create_date] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_date] [datetime] NULL,
	[Is_delete] [int] NULL,
 CONSTRAINT [PK_PASS_TOKEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPLICATION] ADD  CONSTRAINT [DF_APPLICATIONS_APP_STATUS]  DEFAULT ((1)) FOR [APP_STATUS]
GO
ALTER TABLE [dbo].[APPLICATION] ADD  CONSTRAINT [DF_APPLICATIONS_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[APPLICATION] ADD  CONSTRAINT [DF_APPLICATIONS_CREATED_BY]  DEFAULT ((0)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[APPLICATION] ADD  CONSTRAINT [DF_APPLICATIONS_UPDATED_BY]  DEFAULT ((0)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[LOG] ADD  CONSTRAINT [DF_LOG_APP_ID]  DEFAULT ((0)) FOR [APP_ID]
GO
ALTER TABLE [dbo].[LOG] ADD  CONSTRAINT [DF_LOG_IS_FAILED]  DEFAULT ('N') FOR [IS_FAILED]
GO
ALTER TABLE [dbo].[LOG] ADD  CONSTRAINT [DF_LOG_FAILED_REASON]  DEFAULT ('na') FOR [FAILED_REASON]
GO
ALTER TABLE [dbo].[LOG] ADD  CONSTRAINT [DF_LOG_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [DF_MENU_MENU_ORDINAL_POSITION]  DEFAULT ((0)) FOR [MENU_ORDINAL_POSITION]
GO
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [DF_MENU_MENU_STATUS]  DEFAULT ((1)) FOR [MENU_STATUS]
GO
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [DF_MENU_APP_ID]  DEFAULT ((0)) FOR [APP_ID]
GO
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [DF_MENU_CREATED_BY]  DEFAULT ((0)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [DF_MENU_UPDATED_BY]  DEFAULT ((0)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [DF_MENU_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[PASS_TOKEN] ADD  CONSTRAINT [DF_PASS_TOKEN_IS_Email_OTP]  DEFAULT ((0)) FOR [IS_Email_OTP]
GO
ALTER TABLE [dbo].[PASS_TOKEN] ADD  CONSTRAINT [DF_PASS_TOKEN_is_delete]  DEFAULT ((0)) FOR [Is_delete]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_ROLE_ID]  DEFAULT ((0)) FOR [ROLE_ID]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_IS_INSERT]  DEFAULT ((0)) FOR [IS_INSERT]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_IS_UPDATE]  DEFAULT ((0)) FOR [IS_UPDATE]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_IS_VIEW]  DEFAULT ((0)) FOR [IS_VIEW]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_IS_PRINT]  DEFAULT ((0)) FOR [IS_PRINT]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_CREATED_BY]  DEFAULT ((0)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_UPDATED_BY]  DEFAULT ((0)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_IS_Customer_EMP_ID]  DEFAULT ((1)) FOR [IS_Customer_EMP_ID]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_IS_APPROVED]  DEFAULT ('N') FOR [IS_APPROVED]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_IS_LOCKED]  DEFAULT ('N') FOR [IS_LOCKED]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_AUTH_OTP_STATUS]  DEFAULT ((0)) FOR [AUTH_OTP_STATUS]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_IS_DELETED]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[LOG]  WITH CHECK ADD  CONSTRAINT [FK_App_LOG] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[APPLICATION] ([ID])
GO
ALTER TABLE [dbo].[LOG] CHECK CONSTRAINT [FK_App_LOG]
GO
ALTER TABLE [dbo].[LOG]  WITH CHECK ADD  CONSTRAINT [FK_User_LOG] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[LOG] CHECK CONSTRAINT [FK_User_LOG]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_Application_MENU] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[APPLICATION] ([ID])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_Application_MENU]
GO
ALTER TABLE [dbo].[MENU]  WITH NOCHECK ADD  CONSTRAINT [FK_MENUParent_MENU] FOREIGN KEY([MENU_PARENT_ID])
REFERENCES [dbo].[MENU] ([ID])
GO
ALTER TABLE [dbo].[MENU] NOCHECK CONSTRAINT [FK_MENUParent_MENU]
GO
ALTER TABLE [dbo].[PASS_TOKEN]  WITH CHECK ADD  CONSTRAINT [FK_User_PASS_TOKEN] FOREIGN KEY([User_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[PASS_TOKEN] CHECK CONSTRAINT [FK_User_PASS_TOKEN]
GO
ALTER TABLE [dbo].[ROLE]  WITH CHECK ADD  CONSTRAINT [FK_Application_ROLE] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[APPLICATION] ([ID])
GO
ALTER TABLE [dbo].[ROLE] CHECK CONSTRAINT [FK_Application_ROLE]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_Menu_ROLE_PERMISSION] FOREIGN KEY([MENU_ID])
REFERENCES [dbo].[MENU] ([ID])
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] CHECK CONSTRAINT [FK_Menu_ROLE_PERMISSION]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_ROLE_PERMISSION] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] CHECK CONSTRAINT [FK_ROLE_ROLE_PERMISSION]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_USER_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [FK_ROLE_USER_ROLE]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_USER_USER_ROLE] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [FK_USER_USER_ROLE]
GO
/****** Object:  StoredProcedure [dbo].[APPLICATIONAdd]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[APPLICATIONAdd]
	@ID int OUTPUT ,
	@APP_NAME nvarchar(100),
	@APP_DESCIPTION nvarchar(100),
	@APP_STATUS int,
	@APP_LOGO_URL varchar(100),
	@APP_URL varchar(100),
	@IS_DELETED int,
	@CREATED_BY int,
	@UPDATED_BY int,
	@CREATED_DATE datetime,
	@UPDATED_DATE datetime
AS

INSERT INTO [dbo].[APPLICATION] (
	APP_NAME,
	APP_DESCIPTION,
	APP_STATUS,
	APP_LOGO_URL,
	APP_URL,
	IS_DELETED,
	CREATED_BY,
	UPDATED_BY,
	CREATED_DATE,
	UPDATED_DATE
) VALUES (
	@APP_NAME,
	@APP_DESCIPTION,
	@APP_STATUS,
	@APP_LOGO_URL,
	@APP_URL,
	@IS_DELETED,
	@CREATED_BY,
	@UPDATED_BY,
	@CREATED_DATE,
	@UPDATED_DATE
)
SELECT @ID = SCOPE_IDENTITY()

GO
/****** Object:  StoredProcedure [dbo].[APPLICATIONGetAll]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[APPLICATIONGetAll]
	@WhereClause varchar(2000) = NULL,
	@OrderBy varchar(2000) = NULL
AS

-- If no OrderBy or WhereCLause then return all records in the table.
IF @OrderBy IS NULL AND @WhereClause IS NULL 
BEGIN
   SELECT
         	ID,
         	APP_NAME,
         	APP_DESCIPTION,
         	APP_STATUS,
         	APP_LOGO_URL,
         	APP_URL,
         	IS_DELETED,
         	CREATED_BY,
         	UPDATED_BY,
         	CREATED_DATE,
         	UPDATED_DATE
   FROM
   	[dbo].[APPLICATION]
	WHERE
		IS_DELETED = 0
   END
-- Return a filtered and ordered subset of the records in the table
ELSE BEGIN
   DECLARE @sql varchar(8000)
   SET @sql = 'SELECT 
      	ID,
      	APP_NAME,
      	APP_DESCIPTION,
      	APP_STATUS,
      	APP_LOGO_URL,
      	APP_URL,
      	IS_DELETED,
      	CREATED_BY,
      	UPDATED_BY,
      	CREATED_DATE,
      	UPDATED_DATE
   FROM
	[dbo].[APPLICATION]'

   IF @WhereClause IS NOT NULL
   BEGIN
   	SET @sql = @sql + ' WHERE IS_DELETED = 0 AND' + @WhereClause
   END

   IF @OrderBy IS NOT NULL
   BEGIN
	SET @sql = @sql + ' ORDER BY ' + @OrderBy
   END

   EXEC(@sql)
END

GO
/****** Object:  StoredProcedure [dbo].[APPLICATIONGetByID]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[APPLICATIONGetByID]
	@ID int
AS

SELECT
	ID,
	APP_NAME,
	APP_DESCIPTION,
	APP_STATUS,
	APP_LOGO_URL,
	APP_URL,
	IS_DELETED,
	CREATED_BY,
	UPDATED_BY,
	CREATED_DATE,
	UPDATED_DATE
FROM
	[dbo].[APPLICATION]
WHERE
	ID = @ID
	AND IS_DELETED = 0


GO
/****** Object:  StoredProcedure [dbo].[APPLICATIONModify]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[APPLICATIONModify]
	@ID int, 
	@APP_NAME nvarchar(100), 
	@APP_DESCIPTION nvarchar(100), 
	@APP_STATUS int, 
	@APP_LOGO_URL varchar(100), 
	@APP_URL varchar(100), 
	@IS_DELETED int, 
	@CREATED_BY int, 
	@UPDATED_BY int, 
	@CREATED_DATE datetime, 
	@UPDATED_DATE datetime 
AS

UPDATE [dbo].[APPLICATION] SET
	APP_NAME = @APP_NAME,
	APP_DESCIPTION = @APP_DESCIPTION,
	APP_STATUS = @APP_STATUS,
	APP_LOGO_URL = @APP_LOGO_URL,
	APP_URL = @APP_URL,
	IS_DELETED = @IS_DELETED,
	CREATED_BY = @CREATED_BY,
	UPDATED_BY = @UPDATED_BY,
	CREATED_DATE = @CREATED_DATE,
	UPDATED_DATE = @UPDATED_DATE
WHERE
	ID = @ID


GO
/****** Object:  StoredProcedure [dbo].[APPLICATIONRemove]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[APPLICATIONRemove]
	@ID int
AS

DELETE FROM 
	[dbo].[APPLICATION]
WHERE
	ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[MENUAdd]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[MENUAdd]
	@ID bigint OUTPUT ,
	@MENU_TITLE varchar(50),
	@MENU_DESCRIPTION varchar(50),
	@MENU_PARENT_ID int,
	@MENU_URL varchar(100),
	@MENU_IMG_URL varchar(100),
	@MENU_ORDINAL_POSITION int,
	@MENU_STATUS int,
	@APP_ID int,
	@CREATED_DATE datetime,
	@UPDATED_DATE datetime,
	@CREATED_BY int,
	@UPDATED_BY int,
	@IS_DELETED int
AS

INSERT INTO [dbo].[MENU] (
	MENU_TITLE,
	MENU_DESCRIPTION,
	MENU_PARENT_ID,
	MENU_URL,
	MENU_IMG_URL,
	MENU_ORDINAL_POSITION,
	MENU_STATUS,
	APP_ID,
	CREATED_DATE,
	UPDATED_DATE,
	CREATED_BY,
	UPDATED_BY,
	IS_DELETED
) VALUES (
	@MENU_TITLE,
	@MENU_DESCRIPTION,
	@MENU_PARENT_ID,
	@MENU_URL,
	@MENU_IMG_URL,
	@MENU_ORDINAL_POSITION,
	@MENU_STATUS,
	@APP_ID,
	@CREATED_DATE,
	@UPDATED_DATE,
	@CREATED_BY,
	@UPDATED_BY,
	@IS_DELETED
)
SELECT @ID = SCOPE_IDENTITY()

GO
/****** Object:  StoredProcedure [dbo].[MENUGetAll]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[MENUGetAll]
	@WhereClause varchar(2000) = NULL,
	@OrderBy varchar(2000) = NULL
AS

-- If no OrderBy or WhereCLause then return all records in the table.
IF @OrderBy IS NULL AND @WhereClause IS NULL 
BEGIN
   SELECT
         	ID,
         	MENU_TITLE,
         	MENU_DESCRIPTION,
         	MENU_PARENT_ID,
         	MENU_URL,
         	MENU_IMG_URL,
         	MENU_ORDINAL_POSITION,
         	MENU_STATUS,
         	APP_ID,
         	CREATED_DATE,
         	UPDATED_DATE,
         	CREATED_BY,
         	UPDATED_BY,
         	IS_DELETED
   FROM
   	[dbo].[MENU]
	WHERE
		IS_DELETED = 0
   END
-- Return a filtered and ordered subset of the records in the table
ELSE BEGIN
   DECLARE @sql varchar(8000)
   SET @sql = 'SELECT 
      	ID,
      	MENU_TITLE,
      	MENU_DESCRIPTION,
      	MENU_PARENT_ID,
      	MENU_URL,
      	MENU_IMG_URL,
      	MENU_ORDINAL_POSITION,
      	MENU_STATUS,
      	APP_ID,
      	CREATED_DATE,
      	UPDATED_DATE,
      	CREATED_BY,
      	UPDATED_BY,
      	IS_DELETED
   FROM
	[dbo].[MENU]'

   IF @WhereClause IS NOT NULL
   BEGIN
   	SET @sql = @sql + ' WHERE IS_DELETED = 0 AND' + @WhereClause
   END

   IF @OrderBy IS NOT NULL
   BEGIN
	SET @sql = @sql + ' ORDER BY ' + @OrderBy
   END

   EXEC(@sql)
END

GO
/****** Object:  StoredProcedure [dbo].[MENUGetByID]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[MENUGetByID]
	@ID bigint
AS

SELECT
	ID,
	MENU_TITLE,
	MENU_DESCRIPTION,
	MENU_PARENT_ID,
	MENU_URL,
	MENU_IMG_URL,
	MENU_ORDINAL_POSITION,
	MENU_STATUS,
	APP_ID,
	CREATED_DATE,
	UPDATED_DATE,
	CREATED_BY,
	UPDATED_BY,
	IS_DELETED
FROM
	[dbo].[MENU]
WHERE
	ID = @ID
	AND IS_DELETED = 0


GO
/****** Object:  StoredProcedure [dbo].[MENUModify]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[MENUModify]
	@ID bigint, 
	@MENU_TITLE varchar(50), 
	@MENU_DESCRIPTION varchar(50), 
	@MENU_PARENT_ID int, 
	@MENU_URL varchar(100), 
	@MENU_IMG_URL varchar(100), 
	@MENU_ORDINAL_POSITION int, 
	@MENU_STATUS int, 
	@APP_ID int, 
	@CREATED_DATE datetime, 
	@UPDATED_DATE datetime, 
	@CREATED_BY int, 
	@UPDATED_BY int, 
	@IS_DELETED int 
AS

UPDATE [dbo].[MENU] SET
	MENU_TITLE = @MENU_TITLE,
	MENU_DESCRIPTION = @MENU_DESCRIPTION,
	MENU_PARENT_ID = @MENU_PARENT_ID,
	MENU_URL = @MENU_URL,
	MENU_IMG_URL = @MENU_IMG_URL,
	MENU_ORDINAL_POSITION = @MENU_ORDINAL_POSITION,
	MENU_STATUS = @MENU_STATUS,
	APP_ID = @APP_ID,
	CREATED_DATE = @CREATED_DATE,
	UPDATED_DATE = @UPDATED_DATE,
	CREATED_BY = @CREATED_BY,
	UPDATED_BY = @UPDATED_BY,
	IS_DELETED = @IS_DELETED
WHERE
	ID = @ID


GO
/****** Object:  StoredProcedure [dbo].[MENURemove]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[MENURemove]
	@ID bigint
AS

DELETE FROM 
	[dbo].[MENU]
WHERE
	ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[ROLE_PERMISSIONAdd]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[ROLE_PERMISSIONAdd]
	@ID int OUTPUT ,
	@ROLE_ID int,
	@MENU_ID int,
	@IS_INSERT int,
	@IS_UPDATE int,
	@IS_DELETE int,
	@IS_VIEW int,
	@IS_PRINT int,
	@CREATED_BY int,
	@UPDATED_BY int,
	@CREATED_DATE datetime,
	@UPDATED_DATE datetime,
	@IS_DELETED int
AS

INSERT INTO [dbo].[ROLE_PERMISSION] (
	ROLE_ID,
	MENU_ID,
	IS_INSERT,
	IS_UPDATE,
	IS_DELETE,
	IS_VIEW,
	IS_PRINT,
	CREATED_BY,
	UPDATED_BY,
	CREATED_DATE,
	UPDATED_DATE,
	IS_DELETED
) VALUES (
	@ROLE_ID,
	@MENU_ID,
	@IS_INSERT,
	@IS_UPDATE,
	@IS_DELETE,
	@IS_VIEW,
	@IS_PRINT,
	@CREATED_BY,
	@UPDATED_BY,
	@CREATED_DATE,
	@UPDATED_DATE,
	@IS_DELETED
)
SELECT @ID = SCOPE_IDENTITY()

GO
/****** Object:  StoredProcedure [dbo].[ROLE_PERMISSIONGetAll]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[ROLE_PERMISSIONGetAll]
	@WhereClause varchar(2000) = NULL,
	@OrderBy varchar(2000) = NULL
AS

-- If no OrderBy or WhereCLause then return all records in the table.
IF @OrderBy IS NULL AND @WhereClause IS NULL 
BEGIN
   SELECT
         	ID,
         	ROLE_ID,
         	MENU_ID,
         	IS_INSERT,
         	IS_UPDATE,
         	IS_DELETE,
         	IS_VIEW,
         	IS_PRINT,
         	CREATED_BY,
         	UPDATED_BY,
         	CREATED_DATE,
         	UPDATED_DATE,
         	IS_DELETED
   FROM
   	[dbo].[ROLE_PERMISSION]
	WHERE
		IS_DELETED = 0
   END
-- Return a filtered and ordered subset of the records in the table
ELSE BEGIN
   DECLARE @sql varchar(8000)
   SET @sql = 'SELECT 
      	ID,
      	ROLE_ID,
      	MENU_ID,
      	IS_INSERT,
      	IS_UPDATE,
      	IS_DELETE,
      	IS_VIEW,
      	IS_PRINT,
      	CREATED_BY,
      	UPDATED_BY,
      	CREATED_DATE,
      	UPDATED_DATE,
      	IS_DELETED
   FROM
	[dbo].[ROLE_PERMISSION]'

   IF @WhereClause IS NOT NULL
   BEGIN
   	SET @sql = @sql + ' WHERE IS_DELETED = 0 AND' + @WhereClause
   END

   IF @OrderBy IS NOT NULL
   BEGIN
	SET @sql = @sql + ' ORDER BY ' + @OrderBy
   END

   EXEC(@sql)
END

GO
/****** Object:  StoredProcedure [dbo].[ROLE_PERMISSIONGetByID]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[ROLE_PERMISSIONGetByID]
	@ID int
AS

SELECT
	ID,
	ROLE_ID,
	MENU_ID,
	IS_INSERT,
	IS_UPDATE,
	IS_DELETE,
	IS_VIEW,
	IS_PRINT,
	CREATED_BY,
	UPDATED_BY,
	CREATED_DATE,
	UPDATED_DATE,
	IS_DELETED
FROM
	[dbo].[ROLE_PERMISSION]
WHERE
	ID = @ID
	AND IS_DELETED = 0


GO
/****** Object:  StoredProcedure [dbo].[ROLE_PERMISSIONModify]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[ROLE_PERMISSIONModify]
	@ID int, 
	@ROLE_ID int, 
	@MENU_ID int, 
	@IS_INSERT int, 
	@IS_UPDATE int, 
	@IS_DELETE int, 
	@IS_VIEW int, 
	@IS_PRINT int, 
	@CREATED_BY int, 
	@UPDATED_BY int, 
	@CREATED_DATE datetime, 
	@UPDATED_DATE datetime, 
	@IS_DELETED int 
AS

UPDATE [dbo].[ROLE_PERMISSION] SET
	ROLE_ID = @ROLE_ID,
	MENU_ID = @MENU_ID,
	IS_INSERT = @IS_INSERT,
	IS_UPDATE = @IS_UPDATE,
	IS_DELETE = @IS_DELETE,
	IS_VIEW = @IS_VIEW,
	IS_PRINT = @IS_PRINT,
	CREATED_BY = @CREATED_BY,
	UPDATED_BY = @UPDATED_BY,
	CREATED_DATE = @CREATED_DATE,
	UPDATED_DATE = @UPDATED_DATE,
	IS_DELETED = @IS_DELETED
WHERE
	ID = @ID


GO
/****** Object:  StoredProcedure [dbo].[ROLE_PERMISSIONRemove]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[ROLE_PERMISSIONRemove]
	@ID int
AS

DELETE FROM 
	[dbo].[ROLE_PERMISSION]
WHERE
	ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[ROLEAdd]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[ROLEAdd]
	@ID int OUTPUT ,
	@ROLE_NAME nvarchar(50),
	@ROLE_DESCRIPTION nvarchar(50),
	@ROLE_STATUS int,
	@CREATED_BY int,
	@UPDATED_BY int,
	@CTEATED_DATE datetime,
	@UPDATED_DATE datetime,
	@IS_DELETED int,
	@APP_ID int
AS

INSERT INTO [dbo].[ROLE] (
	ROLE_NAME,
	ROLE_DESCRIPTION,
	ROLE_STATUS,
	CREATED_BY,
	UPDATED_BY,
	CTEATED_DATE,
	UPDATED_DATE,
	IS_DELETED,
	APP_ID
) VALUES (
	@ROLE_NAME,
	@ROLE_DESCRIPTION,
	@ROLE_STATUS,
	@CREATED_BY,
	@UPDATED_BY,
	@CTEATED_DATE,
	@UPDATED_DATE,
	@IS_DELETED,
	@APP_ID
)
SELECT @ID = SCOPE_IDENTITY()

GO
/****** Object:  StoredProcedure [dbo].[ROLEGetAll]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[ROLEGetAll]
	@WhereClause varchar(2000) = NULL,
	@OrderBy varchar(2000) = NULL
AS

-- If no OrderBy or WhereCLause then return all records in the table.
IF @OrderBy IS NULL AND @WhereClause IS NULL 
BEGIN
   SELECT
         	ID,
         	ROLE_NAME,
         	ROLE_DESCRIPTION,
         	ROLE_STATUS,
         	CREATED_BY,
         	UPDATED_BY,
         	CTEATED_DATE,
         	UPDATED_DATE,
         	IS_DELETED,
         	APP_ID
   FROM
   	[dbo].[ROLE]
	WHERE
		IS_DELETED = 0
   END
-- Return a filtered and ordered subset of the records in the table
ELSE BEGIN
   DECLARE @sql varchar(8000)
   SET @sql = 'SELECT 
      	ID,
      	ROLE_NAME,
      	ROLE_DESCRIPTION,
      	ROLE_STATUS,
      	CREATED_BY,
      	UPDATED_BY,
      	CTEATED_DATE,
      	UPDATED_DATE,
      	IS_DELETED,
      	APP_ID
   FROM
	[dbo].[ROLE]'

   IF @WhereClause IS NOT NULL
   BEGIN
   	SET @sql = @sql + ' WHERE IS_DELETED = 0 AND' + @WhereClause
   END

   IF @OrderBy IS NOT NULL
   BEGIN
	SET @sql = @sql + ' ORDER BY ' + @OrderBy
   END

   EXEC(@sql)
END

GO
/****** Object:  StoredProcedure [dbo].[ROLEGetByID]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[ROLEGetByID]
	@ID int
AS

SELECT
	ID,
	ROLE_NAME,
	ROLE_DESCRIPTION,
	ROLE_STATUS,
	CREATED_BY,
	UPDATED_BY,
	CTEATED_DATE,
	UPDATED_DATE,
	IS_DELETED,
	APP_ID
FROM
	[dbo].[ROLE]
WHERE
	ID = @ID
	AND IS_DELETED = 0


GO
/****** Object:  StoredProcedure [dbo].[ROLEModify]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[ROLEModify]
	@ID int, 
	@ROLE_NAME nvarchar(50), 
	@ROLE_DESCRIPTION nvarchar(50), 
	@ROLE_STATUS int, 
	@CREATED_BY int, 
	@UPDATED_BY int, 
	@CTEATED_DATE datetime, 
	@UPDATED_DATE datetime, 
	@IS_DELETED int, 
	@APP_ID int 
AS

UPDATE [dbo].[ROLE] SET
	ROLE_NAME = @ROLE_NAME,
	ROLE_DESCRIPTION = @ROLE_DESCRIPTION,
	ROLE_STATUS = @ROLE_STATUS,
	CREATED_BY = @CREATED_BY,
	UPDATED_BY = @UPDATED_BY,
	CTEATED_DATE = @CTEATED_DATE,
	UPDATED_DATE = @UPDATED_DATE,
	IS_DELETED = @IS_DELETED,
	APP_ID = @APP_ID
WHERE
	ID = @ID


GO
/****** Object:  StoredProcedure [dbo].[ROLERemove]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[ROLERemove]
	@ID int
AS

DELETE FROM 
	[dbo].[ROLE]
WHERE
	ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[USER_ROLEAdd]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[USER_ROLEAdd]
	@ID int OUTPUT ,
	@USER_ID int,
	@ROLE_ID int,
	@WITH_GRANT varchar(50),
	@CREATED_BY int,
	@UPDATE_BY int,
	@CREATED_DATE datetime,
	@UPDATED_DATE datetime,
	@IS_DELETED int
AS

INSERT INTO [dbo].[USER_ROLE] (
	USER_ID,
	ROLE_ID,
	WITH_GRANT,
	CREATED_BY,
	UPDATE_BY,
	CREATED_DATE,
	UPDATED_DATE,
	IS_DELETED
) VALUES (
	@USER_ID,
	@ROLE_ID,
	@WITH_GRANT,
	@CREATED_BY,
	@UPDATE_BY,
	@CREATED_DATE,
	@UPDATED_DATE,
	@IS_DELETED
)
SELECT @ID = SCOPE_IDENTITY()

GO
/****** Object:  StoredProcedure [dbo].[USER_ROLEGetAll]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[USER_ROLEGetAll]
	@WhereClause varchar(2000) = NULL,
	@OrderBy varchar(2000) = NULL
AS

-- If no OrderBy or WhereCLause then return all records in the table.
IF @OrderBy IS NULL AND @WhereClause IS NULL 
BEGIN
   SELECT
         	ID,
         	USER_ID,
         	ROLE_ID,
         	WITH_GRANT,
         	CREATED_BY,
         	UPDATE_BY,
         	CREATED_DATE,
         	UPDATED_DATE,
         	IS_DELETED
   FROM
   	[dbo].[USER_ROLE]
	WHERE
		IS_DELETED = 0
   END
-- Return a filtered and ordered subset of the records in the table
ELSE BEGIN
   DECLARE @sql varchar(8000)
   SET @sql = 'SELECT 
      	ID,
      	USER_ID,
      	ROLE_ID,
      	WITH_GRANT,
      	CREATED_BY,
      	UPDATE_BY,
      	CREATED_DATE,
      	UPDATED_DATE,
      	IS_DELETED
   FROM
	[dbo].[USER_ROLE]'

   IF @WhereClause IS NOT NULL
   BEGIN
   	SET @sql = @sql + ' WHERE IS_DELETED = 0 AND' + @WhereClause
   END

   IF @OrderBy IS NOT NULL
   BEGIN
	SET @sql = @sql + ' ORDER BY ' + @OrderBy
   END

   EXEC(@sql)
END

GO
/****** Object:  StoredProcedure [dbo].[USER_ROLEGetByID]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[USER_ROLEGetByID]
	@ID int
AS

SELECT
	ID,
	USER_ID,
	ROLE_ID,
	WITH_GRANT,
	CREATED_BY,
	UPDATE_BY,
	CREATED_DATE,
	UPDATED_DATE,
	IS_DELETED
FROM
	[dbo].[USER_ROLE]
WHERE
	ID = @ID
	AND IS_DELETED = 0


GO
/****** Object:  StoredProcedure [dbo].[USER_ROLEModify]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[USER_ROLEModify]
	@ID int, 
	@USER_ID int, 
	@ROLE_ID int, 
	@WITH_GRANT varchar(50), 
	@CREATED_BY int, 
	@UPDATE_BY int, 
	@CREATED_DATE datetime, 
	@UPDATED_DATE datetime, 
	@IS_DELETED int 
AS

UPDATE [dbo].[USER_ROLE] SET
	USER_ID = @USER_ID,
	ROLE_ID = @ROLE_ID,
	WITH_GRANT = @WITH_GRANT,
	CREATED_BY = @CREATED_BY,
	UPDATE_BY = @UPDATE_BY,
	CREATED_DATE = @CREATED_DATE,
	UPDATED_DATE = @UPDATED_DATE,
	IS_DELETED = @IS_DELETED
WHERE
	ID = @ID


GO
/****** Object:  StoredProcedure [dbo].[USER_ROLERemove]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Friday, April 26, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[USER_ROLERemove]
	@ID int
AS

DELETE FROM 
	[dbo].[USER_ROLE]
WHERE
	ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[USERAdd]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[USERAdd]
	@ID bigint OUTPUT ,
	@LOGIN_ID nvarchar(50),
	@USER_NAME nvarchar(50),
	@COMPANY_ADDRESS nvarchar(100),
	@COMPANY_NAME nvarchar(50),
	@IS_Customer_EMP_ID bit,
	@Customer_EMP_ID int,
	@USER_DESIGNATION nvarchar(50),
	@USER_PASSWORD nvarchar(100),
	@USER_PASSWORD_FORMAT int,
	@USER_PASSWORD_SALT nvarchar(100),
	@USER_CONTACT nvarchar(50),
	@USER_EMAIL nvarchar(50),
	@PASSWORD_QUESTION nvarchar(50),
	@PASSWORD_ANSWER nvarchar(50),
	@IS_APPROVED varchar(50),
	@IS_LOCKED varchar(50),
	@AUTH_OTP_STATUS int,
	@LAST_LOGIN_TIME datetime,
	@LAST_PASS_CHANGE_DATE datetime,
	@LAST_LOCKED_DATE datetime,
	@PASS_ATTEMPT_COUNT int,
	@IS_PASS_EXPIRED int,
	@PASS_EXPIRED_DATE datetime,
	@CREATED_BY int,
	
	@CRETATED_DATE datetime,
	
	@IS_DELETED int
AS

INSERT INTO [dbo].[USER] (
	LOGIN_ID,
	USER_NAME,
	COMPANY_ADDRESS,
	COMPANY_NAME,
	IS_Customer_EMP_ID,
	Customer_EMP_ID,
	USER_DESIGNATION,
	USER_PASSWORD,
	USER_PASSWORD_FORMAT,
	USER_PASSWORD_SALT,
	USER_CONTACT,
	USER_EMAIL,
	PASSWORD_QUESTION,
	PASSWORD_ANSWER,
	IS_APPROVED,
	IS_LOCKED,
	AUTH_OTP_STATUS,
	LAST_LOGIN_TIME,
	LAST_PASS_CHANGE_DATE,
	LAST_LOCKED_DATE,
	PASS_ATTEMPT_COUNT,
	IS_PASS_EXPIRED,
	PASS_EXPIRED_DATE,
	CREATED_BY,
	
	CRETATED_DATE,
	
	IS_DELETED
) VALUES (
	@LOGIN_ID,
	@USER_NAME,
	@COMPANY_ADDRESS,
	@COMPANY_NAME,
	@IS_Customer_EMP_ID,
	@Customer_EMP_ID,
	@USER_DESIGNATION,
	@USER_PASSWORD,
	@USER_PASSWORD_FORMAT,
	@USER_PASSWORD_SALT,
	@USER_CONTACT,
	@USER_EMAIL,
	@PASSWORD_QUESTION,
	@PASSWORD_ANSWER,
	@IS_APPROVED,
	@IS_LOCKED,
	@AUTH_OTP_STATUS,
	@LAST_LOGIN_TIME,
	@LAST_PASS_CHANGE_DATE,
	@LAST_LOCKED_DATE,
	@PASS_ATTEMPT_COUNT,
	@IS_PASS_EXPIRED,
	@PASS_EXPIRED_DATE,
	@CREATED_BY,
	
	@CRETATED_DATE,
	
	@IS_DELETED
)
SELECT @ID = SCOPE_IDENTITY()

GO
/****** Object:  StoredProcedure [dbo].[USERGetAll]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[USERGetAll]
	@WhereClause varchar(2000) = NULL,
	@OrderBy varchar(2000) = NULL
AS

-- If no OrderBy or WhereCLause then return all records in the table.
IF @OrderBy IS NULL AND @WhereClause IS NULL 
BEGIN
   SELECT
         	ID,
         	LOGIN_ID,
         	USER_NAME,
         	COMPANY_ADDRESS,
         	COMPANY_NAME,
         	IS_Customer_EMP_ID,
         	Customer_EMP_ID,
         	USER_DESIGNATION,
         	USER_PASSWORD,
         	USER_PASSWORD_FORMAT,
         	USER_PASSWORD_SALT,
         	USER_CONTACT,
         	USER_EMAIL,
         	PASSWORD_QUESTION,
         	PASSWORD_ANSWER,
         	IS_APPROVED,
         	IS_LOCKED,
         	AUTH_OTP_STATUS,
         	LAST_LOGIN_TIME,
         	LAST_PASS_CHANGE_DATE,
         	LAST_LOCKED_DATE,
         	PASS_ATTEMPT_COUNT,
         	IS_PASS_EXPIRED,
         	PASS_EXPIRED_DATE,
         	CREATED_BY,
         	UPDATED_BY,
         	CRETATED_DATE,
         	UPDATED_DATE,
         	IS_DELETED
   FROM
   	[dbo].[USER]
	WHERE
		IS_DELETED = 0
   END
-- Return a filtered and ordered subset of the records in the table
ELSE BEGIN
   DECLARE @sql varchar(8000)
   SET @sql = 'SELECT 
      	ID,
      	LOGIN_ID,
      	USER_NAME,
      	COMPANY_ADDRESS,
      	COMPANY_NAME,
      	IS_Customer_EMP_ID,
      	Customer_EMP_ID,
      	USER_DESIGNATION,
      	USER_PASSWORD,
      	USER_PASSWORD_FORMAT,
      	USER_PASSWORD_SALT,
      	USER_CONTACT,
      	USER_EMAIL,
      	PASSWORD_QUESTION,
      	PASSWORD_ANSWER,
      	IS_APPROVED,
      	IS_LOCKED,
      	AUTH_OTP_STATUS,
      	LAST_LOGIN_TIME,
      	LAST_PASS_CHANGE_DATE,
      	LAST_LOCKED_DATE,
      	PASS_ATTEMPT_COUNT,
      	IS_PASS_EXPIRED,
      	PASS_EXPIRED_DATE,
      	CREATED_BY,
      	UPDATED_BY,
      	CRETATED_DATE,
      	UPDATED_DATE,
      	IS_DELETED
   FROM
	[dbo].[USER]'

   IF @WhereClause IS NOT NULL
   BEGIN
   	SET @sql = @sql + ' WHERE IS_DELETED = 0 AND' + @WhereClause
   END

   IF @OrderBy IS NOT NULL
   BEGIN
	SET @sql = @sql + ' ORDER BY ' + @OrderBy
   END

   EXEC(@sql)
END

GO
/****** Object:  StoredProcedure [dbo].[USERGetByID]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[USERGetByID]
	@login_ID nvarchar
AS

SELECT
	ID,
	LOGIN_ID,
	USER_NAME,
	COMPANY_ADDRESS,
	COMPANY_NAME,
	IS_Customer_EMP_ID,
	Customer_EMP_ID,
	USER_DESIGNATION,
	USER_PASSWORD,
	USER_PASSWORD_FORMAT,
	USER_PASSWORD_SALT,
	USER_CONTACT,
	USER_EMAIL,
	PASSWORD_QUESTION,
	PASSWORD_ANSWER,
	IS_APPROVED,
	IS_LOCKED,
	AUTH_OTP_STATUS,
	LAST_LOGIN_TIME,
	LAST_PASS_CHANGE_DATE,
	LAST_LOCKED_DATE,
	PASS_ATTEMPT_COUNT,
	IS_PASS_EXPIRED,
	PASS_EXPIRED_DATE,
	CREATED_BY,
	UPDATED_BY,
	CRETATED_DATE,
	UPDATED_DATE,
	IS_DELETED
FROM
	[dbo].[USER]
WHERE
	LOGIN_ID = @login_ID
	AND IS_DELETED = 0


GO
/****** Object:  StoredProcedure [dbo].[USERModify]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[USERModify]
	@ID bigint, 
	@LOGIN_ID nvarchar(50), 
	@USER_NAME nvarchar(50), 
	@COMPANY_ADDRESS nvarchar(100), 
	@COMPANY_NAME nvarchar(50), 
	@IS_Customer_EMP_ID bit, 
	@Customer_EMP_ID int, 
	@USER_DESIGNATION nvarchar(50), 
	@USER_PASSWORD nvarchar(100), 
	@USER_PASSWORD_FORMAT int, 
	@USER_PASSWORD_SALT nvarchar(100), 
	@USER_CONTACT nvarchar(50), 
	@USER_EMAIL nvarchar(50), 
	@PASSWORD_QUESTION nvarchar(50), 
	@PASSWORD_ANSWER nvarchar(50), 
	@IS_APPROVED varchar(50), 
	@IS_LOCKED varchar(50), 
	@AUTH_OTP_STATUS int, 
	@LAST_LOGIN_TIME datetime, 
	@LAST_PASS_CHANGE_DATE datetime, 
	@LAST_LOCKED_DATE datetime, 
	@PASS_ATTEMPT_COUNT int, 
	@IS_PASS_EXPIRED int, 
	@PASS_EXPIRED_DATE datetime, 
	
	@UPDATED_BY int, 
	
	@UPDATED_DATE datetime, 
	@IS_DELETED int 
AS

UPDATE [dbo].[USER] SET
	LOGIN_ID = @LOGIN_ID,
	USER_NAME = @USER_NAME,
	COMPANY_ADDRESS = @COMPANY_ADDRESS,
	COMPANY_NAME = @COMPANY_NAME,
	IS_Customer_EMP_ID = @IS_Customer_EMP_ID,
	Customer_EMP_ID = @Customer_EMP_ID,
	USER_DESIGNATION = @USER_DESIGNATION,
	USER_PASSWORD = @USER_PASSWORD,
	USER_PASSWORD_FORMAT = @USER_PASSWORD_FORMAT,
	USER_PASSWORD_SALT = @USER_PASSWORD_SALT,
	USER_CONTACT = @USER_CONTACT,
	USER_EMAIL = @USER_EMAIL,
	PASSWORD_QUESTION = @PASSWORD_QUESTION,
	PASSWORD_ANSWER = @PASSWORD_ANSWER,
	IS_APPROVED = @IS_APPROVED,
	IS_LOCKED = @IS_LOCKED,
	AUTH_OTP_STATUS = @AUTH_OTP_STATUS,
	LAST_LOGIN_TIME = @LAST_LOGIN_TIME,
	LAST_PASS_CHANGE_DATE = @LAST_PASS_CHANGE_DATE,
	LAST_LOCKED_DATE = @LAST_LOCKED_DATE,
	PASS_ATTEMPT_COUNT = @PASS_ATTEMPT_COUNT,
	IS_PASS_EXPIRED = @IS_PASS_EXPIRED,
	PASS_EXPIRED_DATE = @PASS_EXPIRED_DATE,
	
	UPDATED_BY = @UPDATED_BY,
	
	UPDATED_DATE = @UPDATED_DATE,
	IS_DELETED = @IS_DELETED
WHERE
	ID = @ID


GO
/****** Object:  StoredProcedure [dbo].[USERRemove]    Script Date: 5/7/2019 2:24:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------------------------------------------------
-- Copyright:    
-- Created On:   Monday, April 22, 2019
-- Created By:   Generated by  Developer
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[USERRemove]
	@ID bigint
AS

DELETE FROM 
	[dbo].[USER]
WHERE
	ID = @ID

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[51] 4[10] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -79
         Left = 0
      End
      Begin Tables = 
         Begin Table = "APPLICATION"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MENU"
            Begin Extent = 
               Top = 6
               Left = 258
               Bottom = 136
               Right = 494
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "ROLE"
            Begin Extent = 
               Top = 141
               Left = 29
               Bottom = 271
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "ROLE_PERMISSION"
            Begin Extent = 
               Top = 182
               Left = 604
               Bottom = 312
               Right = 779
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "USER"
            Begin Extent = 
               Top = 197
               Left = 318
               Bottom = 327
               Right = 554
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "USER_ROLE"
            Begin Extent = 
               Top = 63
               Left = 645
               Bottom = 193
               Right = 820
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_USER_ROLES_PERMISSION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_USER_ROLES_PERMISSION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_USER_ROLES_PERMISSION'
GO
USE [master]
GO
